* {
  margin: 0;
  padding: 0; }

body {
  color: #757575;
  font-size: 18px;
  line-height: 26px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.main-wrapper {
  background: #efefef; }

header {
  height: 100vh;
  width: 100%;
  background-image: url(../img/header_background_v2.jpg);
  background-size: 100vw 100vh; }
  header section h1 {
    color: #ff5722;
    text-transform: uppercase;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header section .btn {
    height: 36px;
    width: 250px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0401ac;
    text-align: center;
    text-decoration: none;
    border: none;
    transition-duration: 0.5s; }
    header section .btn:hover {
      background-color: #0501df; }

.top-wrapper {
  display: flex;
  justify-content: space-between; }
  .top-wrapper .logo {
    width: 16%; }
    .top-wrapper .logo img {
      width: 100%; }
  .top-wrapper nav {
    display: flex;
    width: 59%;
    height: 60px; }
    .top-wrapper nav :nth-child(1) {
      border-right: 4px solid #cfd8dc; }
    .top-wrapper nav :nth-child(2) {
      border-right: 4px solid #cfd8dc; }
    .top-wrapper nav a {
      width: 33%;
      color: #ff5722;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }

main {
  max-width: 65%;
  margin: auto; }
  main .toolbar {
    text-align: right;
    padding: 6px; }
    main .toolbar input {
      padding: 13px 32px 13px 24px;
      margin-top: 18px;
      color: #757575;
      background: inherit;
      border: 1px solid #cfd8dc; }
  main .post-list h1 {
    text-align: right;
    text-transform: uppercase;
    margin-top: 16px; }
  main .post-list article {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    main .post-list article div {
      padding: 6px;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      main .post-list article div .post {
        padding-top: 4px;
        display: flex;
        align-items: flex-start; }
        main .post-list article div .post h3 {
          color: #607d8b;
          text-transform: uppercase; }
        main .post-list article div .post > p {
          line-height: 24px; }
        main .post-list article div .post .post-description {
          display: flex;
          align-items: flex-start;
          color: #bdbdcc;
          border-bottom: 1px solid #cfd8dc;
          width: 100%;
          padding-bottom: 10px;
          margin-bottom: 10px; }
      main .post-list article div .btn {
        margin-top: 25px;
        height: 40px;
        width: 220px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #0401ac;
        text-align: center;
        text-decoration: none;
        border: none;
        transition-duration: 0.5s; }
        main .post-list article div .btn:hover {
          background-color: #0501df; }
  main .about {
    padding: 10px; }
    main .about h1 {
      text-align: right;
      text-transform: uppercase; }
    main .about p {
      line-height: 24px;
      margin-bottom: 20px; }
    main .about div img {
      width: 100%; }
  main .contact-form {
    text-align: right; }
    main .contact-form h4 {
      text-transform: uppercase;
      margin-bottom: 30px; }
    main .contact-form form .input-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px; }
      main .contact-form form .input-wrapper .input-block {
        width: 100%;
        display: inline-block; }
        main .contact-form form .input-wrapper .input-block:first-child {
          margin-right: 10px; }
    main .contact-form form input,
    main .contact-form form textarea {
      color: #607d8b;
      background: inherit;
      padding: 15px;
      box-sizing: border-box;
      border: 1px solid #cfd8dc;
      margin-bottom: 20px; }
    main .contact-form form input,
    main .contact-form form label {
      width: 100%;
      display: block; }
    main .contact-form form label {
      color: #607d8b; }
    main .contact-form form textarea {
      width: 100%; }
    main .contact-form form button {
      height: 40px;
      width: 220px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #0401ac;
      text-align: center;
      text-decoration: none;
      border: none;
      transition-duration: 0.5s; }
      main .contact-form form button:hover {
        background-color: #0501df; }

footer {
  padding: 10px;
  font-size: 14px; }
