$backgroundHeader: url(../img/header_background_v2.jpg);
$navigationFontColor: #ff5722;
$buttonsColor: #0401ac;
$headerButtonFontColor: #ffffff;
$linesColor: #cfd8dc;
$blogTitleFontColor: #607d8b;
$blogAdminFontColor: #bdbdcc;
$blogBackgroundColor: #ffffff;
$mainBackgroundColor: #efefef;
$mainTextColor: #757575;
$fonts: "Palatino Linotype", "Book Antiqua", Palatino , serif;
$fontSize: 18px; 
$lineHeigth: 26px;